body,
.pure-g [class*="pure-u"],
.pure-g-r [class*="pure-u"] {
  /* Set your content font stack here: */
  font-family: 'Source Sans Pro', sans-serif;
}
body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
#canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* overflow:hidden; */
}
#cloud,
#fog {
  height: 50%;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}
#cloud {
  background-color: #8ed7ed;
}
#fog {
  background: #ffffff url(../images/subtle_dots_@2X.png);
}
.node {
  position: relative;
  float: left;
  margin: 4em 2em 0 2em;
}
.node.fog .icon,
.node.cloud .icon {
  border-radius: 18%;
  width: 150px;
  height: 150px;
  background-color: #fff;
}
.node.fog .state_closed,
.node.cloud .state_closed {
  width: 158px;
}
.node.fog .status_bubble,
.node.cloud .status_bubble {
  top: -25px;
  right: -25%;
  width: 100%;
  background-color: #fff;
  border: 4px solid #000000;
  color: #000000;
  display: none;
}
.node.consumer .status_bubble {
  display: none;
}
.node .status_bubble {
  text-transform: lowercase;
  font-size: .8em;
  padding: .5em 1em;
  background-color: #000000;
  border-radius: 1em;
  color: #fff;
  text-align: center;
  display: inline-block;
  width: 60%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  top: -100px;
  right: -65%;
  z-index: 1000;
}
.node.closed .state_open {
  display: none;
}
.node.open .status_bubble {
  display: none;
}
.node.open .state_closed {
  overflow: hidden;
  display: none;
}
.node .state_closed {
  width: 108px;
}
.node .state_open {
  width: 300px;
}
.node .state_open .content {
  font-size: 1em;
  margin: 1em;
  border: 2px solid #aaa;
  border-radius: 1em;
  padding: 1em;
  margin-top: -1.6em;
  background-color: #fff;
  z-index: 0;
}
.node .state_open .content fieldset.hiddenControls {
  display: none;
}
.node .state_open .content button {
  margin-top: 1em;
}
.node .state_open .icon {
  width: 50px;
  height: 50px;
  border-width: 2px;
  z-index: 1;
  position: relative;
  background-image: url(../images/close.svg);
  background-size: cover;
}
.node .state_open .icon img:hover {
  opacity: 0.2;
}
.node .icon {
  border: 4px solid #333;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}
.node .icon img {
  width: 100%;
}
.uioverlay {
  position: absolute;
}
.zoom {
  bottom: 10px;
  right: 10px;
}
/* on/off switch */
.onoffswitch {
  position: absolute;
  width: 90px;
  top: 10px;
  left: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  z-index: 100;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #999999;
  border-radius: 20px;
}
.onoffswitch-inner {
  width: 200%;
  margin-left: -100%;
  -moz-transition: margin 0.3s ease-in 0s;
  -webkit-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before,
.onoffswitch-inner:after {
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 14px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "Live";
  padding-left: 10px;
  background-color: #2FCCFF;
  color: #FFFFFF;
}
.onoffswitch-inner:after {
  content: "Trace";
  padding-right: 10px;
  background-color: #EEEEEE;
  color: #999999;
  text-align: right;
}
.onoffswitch-switch {
  width: 22px;
  margin: 4px;
  background: #FFFFFF;
  border: 2px solid #999999;
  border-radius: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 56px;
  -moz-transition: all 0.3s ease-in 0s;
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}
